<!DOCTYPE html>
<html lang="en">
<head>
    <title>Yehor Savchenko</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <script src="https://kit.fontawesome.com/2a5be4e40a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
</head>

<script src="/javascripts/menubutton.js"></script>
<body>
<%- include('inc/header', { req: req }) %>
<!-- Main -->
<div id="main">

    <!-- Intro -->
    <section id="top" class="one">
        <div class="container">

            <header>
                <h2 class="alt">Hi! I'm <strong>Yehor</strong>, a <strong>Software Engineer</strong> <br/></h2>
                <p>Programming is my passion, and I am fully dedicated to it. I am committed to constantly improving my skills and learning from the best in the industry. I firmly believe in experimenting with different techniques and tools to enhance my efficiency and productivity.</p>
            </header>

            <footer>
                <a href="#about" class="button-33" role="button"><strong>More information</strong></a>
            </footer>

        </div>
    </section>

    <!-- About Me -->
    <section id="about" class="two">
        <div class="container">

            <header>
                <h2>About Me</h2>
            </header>

            <p>In my free time, I enjoy staying active by playing sports, and I also like to unwind by playing the guitar and trying to sing. I have extensive experience working in the software industry and have made significant contributions in various roles.</p>
            <p>I have worked as a Software Engineer III at Sabre Corporation, where I was a key contributor to migrating critical components within the global travel industry infrastructure to Google Cloud Platform (GCP), managing systems with ~100k transactions per minute. My role emphasized adapting swiftly to new technologies and optimizing processes to enhance innovation and operational efficiency.</p>
            <p>Previously, I held the position of Software Engineer I at Sabre Corporation, where I took charge of significant projects, provided exceptional support and leadership, mentored an intern, conducted failure mode and effects analysis (FMEA), and successfully migrated our logging system to GCP, significantly enhancing system performance and stability.</p>
            <p>My early career included an internship as an Android Developer at ZNOdodatok, where I extended the company application functionality, expanded internal APIs, processed QR Codes for user convenience, and updated the application database according to official guidelines.</p>

        </div>
    </section>

    <!-- Portfolio -->
    <section id="portfolio" class="three">
        <div class="container">

            <header>
                <h2>Portfolio</h2>
            </header>

            <p>During my time at Jagiellonian University, I obtained both a Bachelor's and a Master's degree in Applied Computer Science. I have also earned certifications such as "Architecting with Google Compute Engine Specialization" and "From Data to Insights with Google Cloud Specialization" from Coursera.</p>
            <p>My skills include Java, Spring Framework, and I have passed the LinkedIn Skill Assessment for Java. My portfolio showcases various projects that demonstrate my expertise in software engineering and my commitment to continuous learning and improvement.</p>

        </div>
    </section>

</div>

</body>
</html>